<!-- mzelt el 5edma eli fl nav-bar ou el "#"=eli jinja eli mzelt mat5edmetch   -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Bid</title>
</head>
<body>
    <!-- ######################### Nav Bar ######################### -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    {{% for vehicle in all_vehicles %}}
    <!-- tetkhdem bl flex columun order -->
    <div class="container" style="display: flex; border: 2px solid black;">
    <div>
        {{vehicle.vehicle_name}}
        {{vehicle.photos}}
    </div>
    <div>
        <!-- tetkhdem bl flex bch yjiw bjnab b3adhhom -->
        <table>
            <tr>
                <th>##{{ bid price (mzelt mt5edmetch) }}##</th>
                <th>##{{ bet result (mzelt mat5edmetch) }}##</th>
                <th><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                </svg>
                <i class="bi bi-clock"></i>##{{vehicle.countdown}}##</th>
                
            </thead>
            <!-- tet5dem bl flex souf el wireframe -->
            
            <tr>
                <td>{{vehicle.mileage}}</td>
                <td>{{vehicle.transmission}}</td>
                <td>{{vehicle.age}}</td>
            </tr>
            <!-- tet5dem bl flex souf el wireframe -->
            <tr>
                <td>{{vehicle.fuel_type}}</td>
                <td>{{vehicle.power}}</td>
                <td>{{vehicle.seats}}</td>
            </tr>
        </table>
    </div>
    </div>
    
    
    
    
    
    {{% endfor %}}

</body>
</html>