<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <div><!-- 1ere tranche -->
        <h1><a href="">Back</a></h1>
        <div>
            <p>{{vehicle.photos}}</p>
            <p>{{vehicle.mileage}}</p>
            <p>{{vehicle.transmission}}</p>
            <p>{{vehicle.age}}</p>
            <p>{{vehicle.fuel_type}}</p>
            <p>{{vehicle.power}}</p>
            <p>{{vehicle.seats}}</p>
        </div>
    </div>
    <div>
        <ul>
            <li><a href="">Share</a></li>
            <li><a href="">Contact Us</a></li>
            <li><button>Favorites</button></li>
        </ul>
        <p>Lowest Price:</p>
        <p>{{vehicle.start_price}}</p>
        <h1>{{vehicle.vehicle_name}}</h1>
        <h2>{{vehicle.description}}</h2>
    </div>
</body>
</html>